html,
body {
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* STYLE TOKENS */
html {
  --color-primary: #fffffe;
  --color-secondary: #b8c1ec;
  --color-tertiary: #eebbc3;
  --color-bg: #22223b;

  /* for use in bigger projects */
  --color-gray-100: hsl(60, 10%, 90%);
  --color-gray-200: hsl(60, 10%, 70%);
  --color-gray-300: hsl(60, 10%, 55%);
  --color-gray-400: hsl(60, 10%, 35%);
  --color-gray-500: hsl(60, 10%, 25%);
  --color-gray-600: hsl(60, 10%, 15%);
  --color-gray-700: hsl(60, 10%, 10%);

  --spacing: 20px;
  --font: "Poppins", "Roboto", sans-serif;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
    "header header header"
    "left-gutter text right-gutter"
    "footer footer footer";
}

/* Add some breathing room */
body {
  padding: var(--spacing) calc(var(--spacing) * 2);
  max-width: 130ch;
  background-color: var(--color-bg);
  color: var(--color-secondary);
  font-family: var(--font);
}
.spacer {
  height: var(--spacing);
}

main {
  grid-area: text;
}

main h1 {
  font-size: 1.8rem;
  line-height: 1;
  color: var(--color-primary);
}
main h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.title {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 1;
  margin: 0;
  color: var(--color-primary);
}

.author {
  color: var(--color-tertiary);
  font-style: italic;
  margin: 0;
  font-size: 1rem;
  padding-top: calc(var(--spacing) / 2);
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 200;
}

ol {
  color: var(--color-gray-100);
  font-size: 1.2rem;
}
ul {
  font-size: 1.2rem;
}
ul li {
  line-height: 1.4;
  margin-bottom: 20px;
}
ol li {
  line-height: 1.4;
  margin-bottom: 40px;
}

a {
  color: var(--color-tertiary);
}

.img {
  width: 100%;
}
